$backgroundColor: #154360;
$bodyBackground: #e9e5e5;
$textColor: #f4f4f4;
$labelColor: #d1c665;
$inputBg: #a2cada;
$successBtn: #50a11a;
$hoverSuccess: #6eb142;


html,body{
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: $bodyBackground;
  font-family: Arial, Helvetica, sans-serif;
}

label{
  display: block;
  color: $labelColor;
}

input{
  border:none;
  border-radius: 3px; 
  outline: none;
  font-size: 12px;
  padding: 3px 4px ;
}

button{
  border: none;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
 
}

select {
  border:none;
  border-radius: 3px; 
  outline: none;
  font-size: 12px;
  padding: 3px 0;
  width: 155px;
  
}

::placeholder{
  color: #154360;
}

.employeesDiv{
  margin: 0, 10px;
}

//-------------------------------------EMPLOYEES-----------------------------------------------
.employeesDiv{
  background: $backgroundColor;
  color: $textColor;
  height: 100vh;
  
}

.empTable{
  border: 1px solid;
  margin: 0 auto;
  
  th{
    color: $labelColor;
  }
}

//-------------------------------------EMPLOYEES FORM-----------------------------------------------

.formDiv{
  margin-bottom: 50px;
}

.formEmp{
  display: flex;
  flex-direction: column;
  padding: 0 100px;
  
  input, select{
    background: $inputBg;
    color: #154360;
    
  }

  // &:last-child{
  //   text-align: center;
  // }
 

  .age , .email, .city, .salary {
    margin: 0 auto;
 
  }
  
}

.divUpper, .divDown{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 25px;

}

.submitBtn{
  width: 30%;
  padding: 4px 0;
  color: $textColor;
  background: $successBtn;
  margin: 0 auto;
  

  &:hover{
    background: $hoverSuccess;
  }
}

.age input{
  width: 162px;
}

